*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game{
    display: flex;
    min-height: 91vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #404040;

}
.porcentage{
    height: 8px;
    align-self: flex-start;
    background-color: rgb(18, 128, 18);
    transition: all ease .5s;
}
.question{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.answer-space{
    height: 180px;
    width: 550px;
    display: grid;
    grid-template-rows: repeat(4,1fr);

}
.answer{
    background-color: #333;
    margin-bottom: 9px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #888;
}
.answer:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .6s
}

.number{
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-right: 13px;
    font-size: 20px;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #888;
}
.result{
    height: 350px;
    width: 650px;
    background-color: #777;
    display: none;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #262626;
}
.result-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
    color: #000;
}
.result-hits{
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 15px;
    color: rgb(4, 93, 4);

}
.result-hits-description{
    font-size: 18px;
    margin-bottom: 35px;
}
.restart{
    width:130px;
    height: 33px;
    border-radius: 9px;
    background-color: #444;
    font-weight: bold;
    color: #888;
    border: 1px solid #444
}